.show {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    color: white;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.383);
}

.hide {
    display: none;
}

.modalContainer {
    background-color: white;
    color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 400px;
    margin: 2rem auto;

}

.modalBody {
    padding: 10px;
}