.input {
    border: none;
    display: block;
    width: 100%;
    height: 40px;
    padding-right: 20px;
}

#Light .input {
    color: black;
    border: 1px solid lightgray;
}

#Dark .input {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}