.card-container {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 14px 0px rgba(102, 102, 102, 0.497);
    -webkit-box-shadow: 0px 2px 14px 0px rgba(102, 102, 102, 0.497);
    -moz-box-shadow: 0px 2px 14px 0px rgba(102, 102, 102, 0.497);
    margin: 10px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#Dark .card-container {
    background-color: #060718;
}